name: Build Java Server

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Java version
        run: java -version

      - name: Build JAR
        run: build.bat

      - name: Upload server.jar
        uses: actions/upload-artifact@v4
        with:
          name: server-jar
          path: server.jar
